<ion-content>
  <ion-toolbar>
    <ion-title>Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list>
    <!-- Add your modal content here -->
    <ion-item>
      <!-- Example content -->
      <ion-avatar slot="start">
        <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Connor Smith</h2>
        <p>Sales Rep</p>
      </ion-label>
    </ion-item>
    <!-- More items... -->
  </ion-list>
</ion-content>
